* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #1a1a1a;
  color: #fafafa;
  font-family: "Nunito", sans-serif;

  #root {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .container {
      width: 100%;
      height: 100%;
      display: flex;
      overflow-y: hidden;
      overflow-x: scroll;

      h1,
      h2 {
        text-align: center;
      }

      h1 {
        font-size: 3rem;
        text-align: center;
      }

      h2 {
        font-size: 2rem;
        text-align: center;
      }

      .about-me h2 {
        white-space: break-spaces;
      }

      .top-project span,
      .about-me span,
      .main-page span {
        color: #919191;
      }

      .main-page span {
        margin-top: 2em;
      }
    }
  }
}

.other-projects {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, max-content);
  align-content: center;
  justify-items: center;

  h2 {
    grid-column: 1 / -1;
    margin-bottom: 1.5em;
  }

  @media screen and (max-width: 70rem) {
    min-width: 400% !important;
    grid-template-columns: repeat(4, 1fr);
    h2 {
      grid-column: 1;
    }
  }
}

.card {
  position: relative;
  display: flex;

  &.big {
    width: 100%;
    max-width: 700px;
    font-size: 18px;

    & > img {
      width: min(70vw, 700px);
      height: 100%;
      align-self: center;
    }
  }

  &.small {
    width: clamp(200px, calc(30vh + 15vw), 400px);
    max-width: 400px;
  }

  > * {
    max-width: 100%;
  }

  .card-content {
    position: absolute;
    inset: 0;
    padding: 1em;
    background-color: #393939;

    .card-content-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        font-size: 1.6em;
        text-align: center;
      }

      p {
        text-align: center;
        margin-block: auto;
        padding-block: 1.2em;
      }

      a:nth-of-type(1) {
        margin-top: auto;
        margin-bottom: 1em;
      }
    }
  }

  //animation when it is pc
  @media screen and (min-width: 70rem) {
    & {
      aspect-ratio: 4 / 3;
    }
    .card-content {
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 500ms ease-out 50ms;
      padding: clamp(1em, 8%, 4em) clamp(1em, 0.5em + 5%, 2em);

      .card-content-wrapper {
        opacity: 0;
        transition: opacity 100ms ease-out;
      }
    }
    &:focus-within .card-content,
    &:hover .card-content {
      transform: scaleX(1);
      transition: transform 500ms ease-out;
      .card-content-wrapper {
        opacity: 1;
        transition: opacity 100ms ease-out 350ms;
      }
    }
  }

  @media screen and (max-width: 70rem) {
    & {
      flex-direction: column;
      gap: 1em;
      .card-content {
        position: initial;
        height: fit-content;
        background-color: inherit;
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
